{% extends "layout.html" %}

{% block y %}

<div class="login-form">
  <!--- <form method="post"> --->
    <form action="/register" method="post">
      <!-- <div class="msg" align="center"><strong>{{ msg1 }}</strong></div> -->
      {% if msg1 %}
      <div align="center" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ msg1 }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
    <br>
    <h2 align = 'center'>Password Rest</h2>
    <img src="/static/sm-logo-blue .png">
    <br>
    <br>
    <div class="content">
      <div class="input-field">
        <div class="input-icons">
          <i class="fa fa-user icon"></i>
          </div>
        <input type="Name" name="username" placeholder="UserName" autocomplete="nope" value="{{username}}">
      </div>
    </div>

    <div class="action ">
      
      <button type="submit" formaction="/api/v1/send-reset-password-link" >Reset</button>

    </div>

  </form>
  
</div>
<!-- partial -->
  <script  src="/static/script.js"></script>
  <script>
    function myFunction() {
      alert("User Registration sucess, Please login");
    }
    </script>

{% endblock %}

</body>
</html>